{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<title>Главная</title>
	<link rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--<link rel="stylesheet" type="text/css" href="css/style.min.css" />-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/hamburger.css' %}" />

</head>
<body class="loaded">

							
<!-- BEGIN BODY -->

<div class="main-wrapper">

<!-- BEGIN CONTENT -->

<!-- CONTENT EOF   -->

<!-- BEGIN HEADER -->

{% include "menu.html" with category=category_all category_all=category_all %}
<div class="wrapper-shadow">

	<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1x4NMuQ-KkZKgBT8WjFXQQ3ewH-Q" width="640" height="480"></iframe>
	<div class="contact-information">
		<div class="information-item">
			<i class="fa fa-map-marker information-item__img" aria-hidden="true"></i>
			<div class="information-item__description">
				<span>Магазин "Мебляр"</span>
				<span>м. Чернівці</span>
				<span>вул. Донбасівська, 1В</span>
				<span>e-mail: meblyar1@rambler.ru</span>
			</div>
		</div>
		<div class="information-item">
			<i class="fa fa-phone information-item__img" aria-hidden="true"></i>
			<div class="information-item__description">
				<span>+38 (0372) 58 42 48</span>
				<span>+38 (099) 902 06 84</span>
				<span>+38 (067) 373 34 52</span>
			</div>
		</div>
		<div class="information-item">
			<i class="fa fa-clock-o information-item__img" aria-hidden="true"></i>
			<div class="information-item__description">
				<span>Графік роботи</span>
				<span>понеділок — п’ятниця</span>
				<span>9:00-18:00</span>
				<span>субота 9:00-13:00</span>
				<span>13:00-14:00 – ОБІД</span>
			</div>
		</div>

	</div>

	<footer>
		<div class="footer-item">
			<span class="footer-item__title">Контакти</span>
			<span class="footer-item__adress"> <i class=" footer-item__fa fa fa-map-marker" aria-hidden="true"></i> <span class="link-opacity">вул. Донбасівська 1.б </span></span>
			<span class="footer-item__phone"><i class="footer-item__fa fa fa-info-circle" aria-hidden="true"></i> <span class="link-opacity"> +38 (044) 500 57 07</span></span>
		</div>
	<div class="footer-item footer-center">
			<span class="footer-item__title">Інформаційна підтримка</span>
			<a class="footer-item__link" href="{% url 'services' %}">Послуги</a>
			<a class="footer-item__link" href="{% url 'contact' %}">Контакти</a>

		</div>
		<div class="footer-item">
			<span class="footer-item__title">Соціальні мережі</span>
			<a class="footer-item__link" href=""> <i class=" footer-item__fa fa fa-vk" aria-hidden="true"></i> Ми в контакті</a>
			<a class="footer-item__link" href=""><i class="footer-item__fa fa fa-facebook" aria-hidden="true"></i> Фейзбук</a>
		</div>
	</footer>
</div>
	
<!-- HEADER EOF   -->	

<!-- BEGIN FOOTER -->	
	

	
<!-- FOOTER EOF   -->

</div>		

<div class="icon-load"></div>		

<!-- BODY EOF   -->
	
	<script type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-migrate-1.4.1.min.js' %}" ></script>
	<script type="text/javascript" src="{% static 'js/components/slick.js' %}" ></script>
	<!--
	<script type="text/javascript" src="js/components/jquery.fancybox.js" ></script>
	<script type="text/javascript" src="js/components/jquery.formstyler.js" ></script>
	<script type="text/javascript" src="js/components/slick.js" ></script>
	<script type="text/javascript" src="js/components/jquery.mCustomScrollbar.js" ></script>
	-->
	<script type="text/javascript" src="{% static 'js/custom.js' %}" ></script>
</body>
</html>
